<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Restful Web Application</display-name>

    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.dgtz.compress.api</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/algo/*</url-pattern>
    </servlet-mapping>

   <!-- <error-page>
        &lt;!&ndash; Missing login &ndash;&gt;
        <error-code>401</error-code>
        <location>/algo/tools/error/401</location>
    </error-page>
    <error-page>
        &lt;!&ndash; Forbidden directory listing &ndash;&gt;
        <error-code>403</error-code>
        <location>/algo/tools/error/403</location>
    </error-page>
    <error-page>
        &lt;!&ndash; Uncaught exception &ndash;&gt;
        <error-code>500</error-code>
        <location>/algo/tools/error/404</location>
    </error-page>
    <error-page>
        &lt;!&ndash; Uncaught exception &ndash;&gt;
        <error-code>404</error-code>
        <location>/algo/tools/error/404</location>
    </error-page>
    <error-page>
        &lt;!&ndash; Unsupported servlet method &ndash;&gt;
        <error-code>503</error-code>
        <location>/algo/tools/error/503</location>
    </error-page>-->


</web-app>